.ap2a-author-widget {
    display: flex;
    align-items: center;
}

.ap2a-author-widget img{
    border-radius: 50% !important;
    width: 50px !important;
    height: 50px !important;
    object-fit: cover !important;
    margin-right: 10px;
}

.ap2a-author-widget .author-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1 auto;
}

.ap2a-author-widget .author-details p{
    margin: 0;
}

.ap2a-author-widget .author-details a{
    font-weight: bold;
    text-decoration: none;
    color: #FFF; /* Adjust the color as needed */
}

.ap2a-author-widget .author-details a:hover{
    text-decoration: underline;
    color:red;
}

.ap2a-author-widget .author-details a.linkedin{
    display: inline-block;
    vertical-align: middle;
}

.ap2a-author-widget .author-details p#lastmodified{
    font-size: 10px;
    color: grey;
}
